@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@400;700&display=swap');

@theme {
  --color-zen-bg: #f5f5f0;
  --color-zen-ink: #2c2c2c;
  --color-zen-red: #8a3b3b;
  --color-zen-dark: #1a1a1a;
  --font-serif: "Noto Serif SC", serif;
}

body {
  @apply bg-zen-bg text-zen-ink font-serif overflow-hidden select-none;
}
